.left-navBar{
    background-color: #f7f7f7;
    width: 250px;
    padding: 0px 20px;
    height: 90vh;
    margin-top: 60px;
    border-radius:0 8px 8px 0;
    box-shadow: 0 4px 8.6px rgb(0 0 0 / 0.2);
}

.profile{
    display: flex;
    align-items: center;
    padding: 40px 0 20px 0;
}

.profile-greeting {
    max-width: 150px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 1.5rem;
}

.options {
    list-style: none;
    font-size: 1.35rem;
    font-weight: 400;
}

.logo{
    margin-right: 15px;
}

.options li {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.projects-header {
    display: flex;
    align-items: center;
    padding: 40px 0 10px 0;
    font-size: 1.1rem;
    font-weight: 600;
}

.projects-head {
    margin-right: 60px;
}

.projects-category h3{
    font-size: 1.3rem;
    font-weight: 700;
}

.projects-pages li {
    list-style: none;
    padding: 8px 0px;
    font-weight: 400;
    font-size: 1.2rem;
}

.task-manager {
    font-size: 20px;
    display: inline;
    margin-top: 200px;
}